.advantages__title--about {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 35px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 32px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-right: 124px;
    padding-left: 124px;
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 357px;
    padding-right: 357px;
    padding-top: 59px;
  }
}

.advantages__reasons {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-right: 124px;
    padding-left: 124px;
    padding-bottom: 55px;

  }

  @media (min-width: $desktop-width) {
    padding-left: 357px;
    padding-right: 357px;
    padding-bottom: 44px;

  }
}

.advantages__item {
  list-style-type: none;
  width: 320px;
  min-height: 260px;
  text-align: center;
  background: #eeeeee;
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 256px;
  }

}

.advantages__photo {
  display: flex;
  flex-direction: column;
  min-height: 260px;
  padding-bottom: 23px;
  width: 100%;
}

.advantages__text {
  padding: 23px 24px;
  text-transform: uppercase;
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}

.advantages__item--img {
  color: #ffffff;
  background: #81b3d2;
  width: 320px;
  min-height: 191px;
  text-align: center;
  padding: 37px 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 256px;
  }
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
