.advantages__title {
  margin-bottom: 10px;
  position: relative;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  margin-top: 60px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 21px;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 0;

    br {
      display: block;
    }
  }
}

.advantages__title--about {
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 11px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 36px;
  margin: 0;

  br {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;

    br {
      display: block;
    }
  }
}

.advantages__title--grey {
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages__reasons {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-left: 18px;
  margin-right: 18px;
  margin-bottom: 27px;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    padding-right: 124px;
    padding-left: 124px;
    padding-bottom: 53px;
    padding-top: 12px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 357px;
    padding-right: 357px;
    padding-bottom: 44px;
  }
}

.advantages__item {
  list-style-type: none;
  text-align: center;
  background: #eeeeee;
  position: relative;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    min-height: 256px;
    width: 100%;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  &.back-grey {
    background: #eeeeee;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 24px;
    padding-bottom: 17px;

    @media (min-width: $tablet-width) {
      padding: 0;
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    min-height: 256px;
  }
}

.advantages__photo {
  display: flex;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__text {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 0;
  padding-top: 37px;
  text-transform: uppercase;
  min-height: 117px;
  align-items: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: calc(100%/3);
    padding: 55px 32px 0px 32px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding: 52px 35px 51px 35px;
  }
}

.advantages__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 37px;
  margin-top: 0px;

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }

    margin-bottom: 0px;
    padding: 0px;
  }

  @media (min-width: $desktop-width) {
    br {
      display: block;
    }
  }
}

.advantages__description--grey {
  margin-bottom: 48px;
}

.advantages__item--img {
  color: #ffffff;
  background: #81b3d2;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 256px;
  }
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.advantages__text--triangle {
  position: relative;
  margin-top: 0px;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 54px 30px 0px 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.advantages__text--triangle::before {
  @media (max-width: $mobile-width-only) {
    position: absolute;
    content: "";
    background-image: url("../img/zig.svg");
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: -12px;
    height: 37px;
  }
}

.advantages__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.advantages__photo picture {
  display: flex;
}

.advantages__item:not(:last-child)::after {
  content: "";
  width: 284px;
  height: 1px;
  background: #d6d6d6;
  position: absolute;
  left: 18px;

  @media (min-width: $tablet-width) {
    background: none;
  }
}

.advantages__description--shift {
  br {
    display: none;
  }

  @media (min-width: $desktop-width) {
    br {
      display: block;
    }
  }
}

.advantages__item--img--revers {
  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.advantages__text--grey {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-left: 20px;
    padding-right: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
  }
}

.advantages__title--blue {
  margin-top: 0;
}
