.catalog__about {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 155px;
    padding-right: 155px;
    padding-top: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 370px;
    padding-right: 370px;
    padding-top: 100px;
  }
}

.catalog__title--about {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.catalog__description--about {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
