.catalog__about {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 25px;
  padding-top: 37px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 67px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 65px;
  }
}

.catalog__title--about {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.catalog__description--about {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}
