.checkbox {
  text-decoration: none;
  list-style: none;
}

.checkbox__cont {
  position: relative;
  display: block;
  padding-left: 16px;
}

.checkbox__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 46px;
  position: absolute;
  background-color: #f2f2f2;
  left: -40px;
  top: -10px;
}

.checkbox__input[type="checkbox"]:checked + .checkbox__label::after {
  position: absolute;
  width: 16px;
  height: 16px;
  left: -25px;
  top: 5px;
  background-image: url("../img/dow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  content: "";
}
