.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 0 auto;
  width: 320px;
  min-height: 100%;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
