.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-right: 12px;

  &:hover {
    color: #81b3d2;

   }

   &:active {
    color: #b3b3b3;
   }

}

.copyright__card{
  fill:  #000000;

  &:hover {
    fill: #81b3d2;

   }

   &:active {
    fill: #b3b3b3;
   }
}
