.fieldset__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 120px;
    margin-right: 120px;
  }
}

.fieldset__component {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fieldset__title {
  @media (min-width: $tablet-width) {
    display: inline-block;
    position: relative;
    padding-left: 47px;
    padding-right: 47px;
    background: #ffffff;
    vertical-align: middle;

  }
}

.fieldset__legend--line::before {

  @media (min-width: $tablet-width) {
    background: #E5E5E5;
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.fieldset__legend--line {
  margin-left: 60px;
  margin-right: 45px;
}
