.form-list__element {
  padding-top: 26px;
  list-style: none;
}

.form-list__element--radio {
  padding-top: 9px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 9px;
  }
}

.form-list__element--checkbox {
  padding: 0;
  margin-bottom: 13px;
}
