
.form-content__legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.form-content__fields {
  border: none;
  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 48px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 56px;
    margin: 0;
  }
}
