.input-text__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 16px;
}

.input-text__input {
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;

  &:hover {
    background-color: #e5e5e5;
    color: #000000;

  }

  &:active {
    border: 4px solid #e5e5e5;
    background: none;
    color: #000000;
    outline: none;
  }

  @media (min-width: $tablet-width) {
    width: 295px;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.input-text__container {
  background: #e6e6e6;

  &:active {
    border: 1px solid #e5e5e5;
    background: none;

  }
}

.input-text__container svg {
  margin-right: 20px;
  margin-left: 20px;
  fill: #000000;

  &:hover {
    fill: #666666;

  }

  &:active {
   fill: burlywood;
  }
}

.input-text__input--phone {
  width: 222px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
    width: 210px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
  }

}

.input-text__input--mail {
  width: 222px;

  @media (min-width: $tablet-width) {
    width: 213px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
  }
}
