.input-text__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 16px;
}

.input-text__input {
  width: 280px;
  height: 58px;
  background: #f2f2f2;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    width: 295px;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}

.input-text__container {
  display: flex;
}

.input-text__container img {
  background: #e6e6e6;
  padding: 20px;
}

.input-text__input--phone {
  width: 222px;
  padding-right: 10px;

  @media (min-width: $tablet-width) {
  width: 238px;
  }
  @media (min-width: $desktop-width) {
    width: 430px;
  }

}

.input-text__input--mail {
  width: 222px;

  @media (min-width: $tablet-width) {
  width: 240px;
  }
  @media (min-width: $desktop-width) {
    width: 430px;
  }
}
