.main-header {
  display: flex;
  min-height: 56px;
  position: relative;
}

.main-header__logo {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 5;
}

.main-nav--opened + .main-header__logo{
  display: none;
}

.main-header__toggle {
  width: 23px;
  height: 22px;
  right: 20px;
  top: 15px;
  padding: 0;
  border: none;
  display: block;
  background: none;
  cursor: pointer;
  position: absolute;
  user-select: none;
  visibility: visible;
  z-index: 5;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle .burger {
  background: #81b3d2;
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.main-header__toggle .burger::before {
  top: calc(50% - 6px);
}

.main-header__toggle .burger::after {
  top: calc(50% + 4px);
}

.main-header__toggle .burger::before,
.main-header__toggle .burger::after {
  background: #81b3d2;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  transition: all .2s ease-out;
}
