.main-header {
  min-height: 56px;
  position: relative;
  display: inline;
}

.main-header__logo {
  height: 96px;
  position: absolute;
  content: "";
  width: 185px;
  left: 50%;
  transform: translateX(-50%);
}
