.main-greeting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background-color: $background;
  background-image: url("../img/background/background-index.jpg");
  background-size: cover;
  padding-left: 19px;
  padding-top: 90px;
  padding-right: 19px;
  padding-bottom: 28px;
  background-repeat: no-repeat;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-color: $background;
    background-image: url("../img/background/big-background.jpg");
    background-repeat: no-repeat;
    height: 518px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/main-background@2x.jpg");
      background-size: cover;
    }
  }
  @media (min-width: $desktop-width) {
    background-image: url("../img/background/backmain-desktop.jpg");
    background-size: cover;
  }
}

.main-greeting::after {
  position: absolute;
  content: "";
  background-image: url("../img/minitriangle.svg");
  background-repeat: no-repeat;
  background-size: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/triangle.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/maxtriangle.svg");
  }
}

/*
.main-greeting img {
  object-fit: cover;
  height: 100%;
  width: 320px;
}*/
