.main-form__greeting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  background-image: url("../img/back-desktop.jpg");
  background-color: $background;
  background-size: cover;
  padding-left: 19px;
  padding-top: 90px;
  padding-right: 19px;
  padding-bottom: 67px;
  background-repeat: no-repeat;
  width: 100%;

  @media (min-width: $tablet-width) {
    background-color: $background;
    background-image: url("../img/background/inner-background.jpg");
    background-repeat: no-repeat;
    min-height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/inner-background@2x.jpg");
      background-size: cover;
    }
  }
  @media (min-width: $desktop-width) {
    background-image: url("../img/background/biginner-background.jpg");
    background-size: cover;
  }
}


.main-form__greeting::after {
  position: absolute;
  content: "";
  background-image: url("../img/minitriangle.svg");
  background-repeat: no-repeat;
  background-size: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 57px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/triangle.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/maxtriangle.svg");
  }
}

.main-form__greeting img{
  @media (min-width: $tablet-width) {
    width: 456px;
  }
  @media (min-width: $desktop-width) {
    width: 459px;
  }
}
