.main-header {
  display: flex;
  min-height: 56px;
  position: relative;
}

.main-header__logo {
  height: 96px;
  position: absolute;
  content: "";
  width: 185px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
