.main-header {
  display: flex;
  min-height: 56px;
  position: relative;
}

.main-header__logo {
  position: absolute;
  content: "";
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 3;
}

.main-header__toggle {
  width: 23px;
  height: 22px;
  left: 86.88%;
  right: 6.19%;
  top: 2.55%;
  bottom: 94.11%;
  padding: 0;
  border: none;
  display: block;
  background: none;
  cursor: pointer;
  position: absolute;
  user-select: none;
  visibility: visible;
  z-index: 4;

  @media (min-width: $tablet-width) {
    display: none;
  }

}

.main-header__toggle span {
  background: #81B3D2;
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.main-header__toggle span::before {
  top: calc(50% - 6px);
}

.main-header__toggle span::after {
  top: calc(50% + 4px);
}

.main-header__toggle span::before,
.main-header__toggle span::after {
  background: #81B3D2;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  transition: all .2s ease-out;
}
