.main-form__greeting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../img/back-desktop.jpg");
  background-color: $background;
  background-size: cover;
  padding-left: 19px;
  padding-top: 90px;
  padding-right: 19px;
  padding-bottom: 67px;
  background-repeat: no-repeat;
}
