.main-greeting{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("../img/background-index.jpg");
  background-color: rgb(73, 108, 129);
  background-size: cover;
  padding-left: 19px;
  padding-top: 90px;
  padding-right: 19px;
  padding-bottom: 28px;
  background-repeat: no-repeat;
  width: 320px;
}
