.map {
  display: block;
  text-align: center;
  margin: 0;
  padding-top: 49px;
  align-items: center;

  iframe {
    width: 320px;
    border: none;

    @media (min-width: $tablet-width) {
      width: 768px;
    }
    @media (min-width: $desktop-width) {
      width: 1200px;
    }
  }

  &.map--nojs {
    .map-container {
      width: 100%;
      height: 350px;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../img/map/map-desktop.jpg");
      @media (min-width: $tablet-width) {
        background-image: url("../img/map/map-tablet.jpg");

      }
      @media (min-width: $desktop-width) {
        background-image: url("../img/map/map-desktop.jpg");
      }
    }
    iframe {
      display: none;
    }
  }
}
