.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
}

.modal__info h3 {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #000000;
  line-height: 40px;

}
.modal__info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.modal__control button {
  background: #81b3d2;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 100%;
  height: 58px;
  border: none;
  cursor: pointer;
}

.modal__info h3 {
  @media (max-width: 500px) {
  font-size: 18px;
  padding-left: 0;
  padding-right: 0;
  }
}

.modal .modal__info {
  @media (max-width: 500px) {
  padding-left: 40px;
  padding-right: 40px;
  }
}

.modal__control {
  @media (max-width: 500px) {
  padding: 20px;
  }
}

.modal__control button {
  @media (max-width: 500px) {
  font-size: 18px;
  }
}
