.photo-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: 60px;
    margin-right: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.photo-list__element {
  padding: 21px 20px 40px 20px;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: calc(100% / 2);
  }

  @media (min-width: $desktop-width) {
    width: calc(100% / 3);
  }
}

.photo-list__element--big {
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 648px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
