.photo__link {
  list-style-type: none;
  text-decoration: none;
  color: inherit;
}

.photo__about {
  padding: 15px 80px 11px 20px;
  margin: 0;
}

.photo__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
}

.photo__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.photo__statistics {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 20px;
  margin: 0;
}

.photo__badge {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

.photo__content {
  padding: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 80px;
    background: #f2f2f2;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 22px;

    .photo__content--gray {
      background: #eaeaea;
    }
  }
}
