.radio {
  text-decoration: none;
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
  &:hover {
    cursor: pointer;
  }
}

.radio__label {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.radio__label::before {
  content: "";
  width: 46px;
  height: 46px;
  position: absolute;
  background-color: #f2f2f2;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.radio__input[type="radio"]:checked + .radio__label::after {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #333333;
  cursor: pointer;
  content: "";
}

.radio:hover .radio__label::before {
  background-color: #e5e5e5;
}

.radio:active .radio__label::before {
  background-color: #d5d5d5;
}

.radio__input[type="radio"]:checked:active + .radio__label::after {
  background-color: rgba(51, 51, 51, 0.3);
}

.radio__input:disabled{
  background-color: #f2f2f2;
  color: #f2f2f2;
}
