.reviews__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 36px;
  padding-right: 20px;
  padding-bottom: 24px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
    margin-top: 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin-bottom: 20px;
    margin-top: 115px;
  }
}

.reviews__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 35px;
  }
}

.reviews__wrapper {
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    border: none;
  }
}
