.reviews__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-top: 36px;
  padding-right: 20px;
  padding-bottom: 24px;
  text-align: center;
  margin: 0;
}

.reviews__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 28px;
  margin: 0;
}

.reviews__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 166px;
    padding-right: 166px;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 382px;
    padding-right: 382px;
    padding-top: 115px;
  }
}
