.search {
  text-transform: uppercase;
  padding: 38px 29px 32px 29px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 60px 166px 44px 166px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 383px 44px 383px;
  }
}

.search__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.search__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.search__link {
  display: block;
  color: #ffffff;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  background: #81b3d2;
  padding: 16px 49px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 18px;
  margin-right: 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto;
  }
}
