.search {
  text-transform: uppercase;
  padding: 0px 29px 32px 29px;
  text-align: center;
  margin: 0;


  @media (min-width: $tablet-width) {
    padding: 60px 150px 44px 150px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 383px 44px 383px;
  }
}

.search__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0px;
  br {
    display: none;
  }

 @media (min-width: $tablet-width) {
  margin-top: 30px;
  br {
    display: block;
  }
 }
}

.search__title {
  font-family: inherit;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }


}
