.services__item {
  list-style-type: none;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 256px;
    padding: 124px 33px 60px 33px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    text-align: center;
    padding: 130px 50px 60px 50px;
  }
}

.services__list {
  background-color: #ffffff;
  padding-left: 18px;
  padding-top: 17px;
  padding-right: 18px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0;
  }
}

.services__title {
  display: block;
  margin-left: 47px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
  margin-top: 8px;
  margin-right: 0;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 25px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.services__description {
  margin-left: 47px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 0;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: 7px;

    br {
      display: block;
    }
  }
}

.services__description--home {
  @media (min-width: $desktop-width) {
    br {
      display: none;
    }
  }
}

.services {
  background: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.services__item--home {
  background-image: url("../img/servises/iconhouse.svg");
  background-repeat: no-repeat;
  background-position: left 7px;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/servises/iconhouse-tablet.svg");
    background-position: center 60px;
    padding-top: 150px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/servises/iconhouse-desktop.svg");
    background-position: center 68px;
    padding-top: 159px;
  }
}

.services__item--eat {
  background-image: url("../img/servises/iconburger.svg");
  background-repeat: no-repeat;
  background-position: left 15px;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/servises/iconburger-tablet.svg");
    background-position: center 62px;
    padding-top: 148px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/servises/iconburger-desktop.svg");
    background-position: center 69px;
    padding-top: 158px;
  }
}

.services__item--present {
  background-image: url("../img/servises/iconpresent.svg");
  background-repeat: no-repeat;
  background-position: left 16px;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/servises/iconpresent-tablet.svg");
    background-position: center 64px;
    padding-top: 146px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/servises/iconpresent-desktop.svg");
    background-position: center 67px;
    padding-top: 162px;
  }
}
