.services__item {
  list-style-type: none;
  width: 100%;
  min-height: 113px;
  text-align: left;
  padding: 60px 33px 60px 33px;

  @media (min-width: $tablet-width) {
    text-align: center;
    width: 256px;
    padding: 124px 33px 60px 33px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    text-align: center;
    padding: 130px 50px 60px 50px;
  }
}

.services__list {
  background-color: #ffffff;
  margin: 0;
  &.back-grey {
    background: #EEEEEE;
    padding-left: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 256px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0;
  }
}

.services__title {
  padding-left: 52px;
  text-transform: uppercase;
  padding-top: 8px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-left: 0;
  }

}

.services__description {
  padding-left: 52px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 25px;
  br{
    display: none;
  }


  @media (min-width: $tablet-width) {
    padding: 0;
    br {
      display: block;
    }
  }
  @media (min-width: $desktop-width) {
    br{
      display: none;
    }
  }
}

.services {
  background: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.services__item--home {
  background-image: url("../img/servises/iconhouse.svg");
  background-repeat: no-repeat;
  background-position: left 55px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/servises/iconhouse-tablet.svg");
    background-position: center 50px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/servises/iconhouse-desktop.svg");
    background-position: center 50px;
  }
}

.services__item--eat {
  background-image: url("../img/servises/iconburger.svg");
  background-repeat: no-repeat;
  background-position: left 55px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/servises/iconburger-tablet.svg");
    background-position: center 50px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/servises/iconburger-desktop.svg");
    background-position: center 50px;
  }
}

.services__item--present {
  background-image: url("../img/servises/iconpresent.svg");
  background-repeat: no-repeat;
  background-position: left 55px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/servises/iconpresent-tablet.svg");
    background-position: center 50px;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/servises/iconpresent-desktop.svg");
    background-position: center 50px;
  }
}
