.services__item {
  list-style-type: none;
  width: 284px;
  min-height: 113px;
  text-align: left;

  @media (min-width: $tablet-width) {
    text-align: center;
    min-height: 331px;
    width: 256px;
    padding: 60px 33px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    text-align: center;
    padding: 69px 50px;
  }
}

.services__list {
  padding: 0;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 256px;
  }
}

.services__title {
  padding-left: 47px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.services__description {
  padding-left: 47px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.services {
  background: #ffffff;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}
