.site-list {
  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.site-list__item {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}

.site-list__item a[href] {
  @media (min-width: $tablet-width) {
    &:hover {
      color: #766357;

      background-color: #ffffff;
    }

    &:active {
      color: #766357;
      background-color: #ffffff;
      opacity: 0.3;
    }
  }
}

.site-list a {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-top: 17px;
  padding-bottom: 12px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #81b3d2;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  @media (min-width: $tablet-width) {
    background-color: inherit;
    color: #000000;
    border: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }

}
