.social__list {
  display: flex;
  list-style-type: none;
}

.social__link {
  padding-right: 6px;
  text-decoration: none;
}

.social__card{
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
