.stats__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.stats__textarea {
  width: 279px;
  min-height: 150px;
  margin-left: 20px;
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  background: $grey;

  @media (min-width: $tablet-width) {
    width: 648px;


  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.stats {
  padding-bottom: 22px;
  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 64px0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }

}

.stats__button {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 16px 49px 16px 49px;
  border: none;
  background-color: #81B3D2;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.stats__legend {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  padding-left: 163px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: right;
    padding-left: 132px;

  }

  @media (min-width: $desktop-width) {
   padding-left: 157px;
  }

}
