.video__about {
  padding-left: 28px;
  padding-right: 26px;
  padding-bottom: 38px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 161px;
    padding-right: 161px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 378px;
    padding-right: 378px;
    padding-bottom: 62px;
  }
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.video__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.video__card {
  padding-left: 20px;
  padding-right: 20px;
}
