.video__about {
  padding-left: 28px;
  padding-right: 26px;
  padding-bottom: 20px;
  text-align: center;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 77px;
    padding-top: 45px;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 72px;
  }
}

.video__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 26px;
  }
}

.video__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.video__card::before {
  background-image: url("../img/play.svg");
  content: "";
  width: 48px;
  height: 54px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}

.video__card {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 199px;
    padding-right: 201px;
  }
}

.video__presentation {

  @media (min-width: $tablet-width) {
    min-height: 500px;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.video__presentation img {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
