body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #FFFFFF;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 320px;
  min-height: 100%;
}
